#banner {background-color: goldenrod;color:white; width: 100%; margin: 0px;}

#main {width:960px; text-align: center; align-content: center;}

#para1 {font-family: sans-serif; }

#nav {background-color:blanchedalmond; font-size: 18px;}
